body {
    background-color: #000957;
}

.starttext {
    display: flex;
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 80px;
    font-size: 4rem;  /* Increased font size for better visibility */
    justify-content: center;
    text-align: center;
    color: #E7D283;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 250px);  /* Simplified grid definition */
    grid-template-rows: repeat(2, 250px);
    gap: 50px;
    justify-content: center;
    margin-top: 150px;
    padding: 10px;
}

.green, .red, .yellow, .blue {
    width: 150px;  /* Set fixed width and height */
    height: 150px;
    background-color: green;
    border: 10px solid black;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;  /* Make buttons clickable */
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.pressed {
    box-shadow: 0 4px 20px rgba(221, 238, 221, 2);
    transform: scale(0.98);
    background: linear-gradient(to top, #3213e4, #867c9c);
    transition: all 0.3s ease;
}
